doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet' href='/bower-components/bootstrap/dist/css/bootstrap.css')
  body
  .container
   block content
    br

    hr
    footer
    copyright